nav {
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 5%;
    top: 30%;
    transform: translateX(-30%);
    /* bottom: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}


nav a{
    background: transparent;
    pad: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 2.3rem;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

nav a:hover{
    background: rgba(0,0,0,0.3);
    transform: scale(1.1);
}

nav a.active {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

.gripper{
    margin-bottom: -1rem;
}

.gripper:hover{
    transform: scale(1.1);
    cursor: grab;
}

/* MEDIUM DEVICES MEIDA QUERIES */
@media screen and (max-width: 1024px) {
    nav{
        display: none;
    }
}